# Ignore virtual environment
.venv/
.idea

# Ignore input and output files
input/
output/

# Ignore macOS system files
.DS_Store
**/.DS_Store

# Ignore all image files
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.webp
*.bmp

!cover.jpg
!cli.png
!input/1979/2025-04-29-0022.jpg

# Ignore experiment results
experiments/*/crops/
experiments/*/visualizations/
visualizations/
